html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.sidebar {
  width: 370px !important;
}

.curlcurenavbar {
  overflow: hidden;
}

@media (max-width: 500px) {
  .curlcurenavbar {
    position: relative;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
